.regHeader {
  background: url("src/assets/gallery.jpg");
  background: linear-gradient(rgba(65, 65, 243, 0.9)),
    url("src/assets/gallery.jpg");
  background-size: cover;
  height: 75rem;
  color: white;
  font-family: "MS Sans Serif", Geneva, sans-serif;
}
.regHeader .div0 {
  display: flex;
  justify-content: space-around;
  column-gap: 35rem;
}
.regHeader .div1,
.div2 {
  display: flex;
  column-gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.regHeader a {
  text-decoration: none;
  color: white;
  display: flex;
  column-gap: 0.3rem;
  font-size: 1.4rem;
}
.regHeader .div0 p {
  font-size: 1.3rem;
}
.regHeader .div3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.regHeader .div3 div {
  display: flex;
  column-gap: 3rem;
  color: rgb(163, 163, 242);
}
.div3 p:hover {
  color: white;
  cursor: pointer;
}
.regHeader .div3 button {
  background-color: rgb(5, 116, 251);
  border: none;
  height: 4rem;
  width: 12rem;
  border-radius: 2rem;
  color: white;
  font-size: 1.2rem;
  font-family: "MS Sans Serif", Geneva, sans-serif;
}

.div3 {
  position: fixed; /* makes it stay on top */
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.7s ease;
  padding: 15px 30px;
}

.scrolled {
  background-color: white;
  margin-top: -5rem;
  color: black;
}
.scrolled p {
  color: black;
}
.scrolled p:hover {
  color: rgb(5, 116, 251);
  cursor: pointer;
}
