
.sidebar {
  position: fixed;   
  top: 0;
  left: 0;
  height: 100vh;     
  width: 23rem; 
  background-color: #0a174e;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  overflow: hidden;  
}


.logo {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 1rem;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 12px;
  display: block;
  border-radius: 8px;
  transition: 0.3s;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* .sidebar a:hover::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 6px;
  background: #ffd700;
  border-radius: 0 8px 8px 0;
} */

.sidebar a.active {
  background: #0a174e;
  color: #ffd700;
  position: relative;
}

.sidebar a.active::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 6px;
  border-radius: 0 8px 8px 0;
}

.sidebar-btn {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: white;
  width: 18rem;
  padding: 1.5rem;
  border-radius: 8px;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar-btn:hover {
  background: #0a174e;
  color: #ffd700;
}
.sidebar-btn.active {
  background: #0a174e;
  color: #ffd700;
  position: relative;
}

.sidebar-btn.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 6px;
  background: #ffd700;
  border-radius: 8px 0 0 8px;
}

.student-profile{
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.student-avatar{
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}