.add {
  cursor: pointer;
}
.openModal {
  background-color: white;
  padding: 2rem;
  height: 80%;
  border-radius: 1.5rem;
}
.openModal1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  margin-top: 2rem;
}
.openModal1 input {
  height: 4.5rem;
  width: 30rem;
  padding-left: 0.8rem;
  font-size: 1.6rem;
  border-radius: 0.8rem;
  border: 1px solid gray;
}
.openModal2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}
.openModal2 input {
  height: 4.5rem;
  padding-left: 0.8rem;
  font-size: 1.6rem;
  border-radius: 0.8rem;
  margin-top: 2rem;
  border: 1px solid gray;
}
.openModal2v1 input {
  width: 26rem;
}
.openModal2v2 {
  width: 30rem;
}
.genders select {
  border-radius: 0.8rem;
  margin-top: 2rem;
  border: 1px solid gray;
  width: 23.5rem;
  height: 4.5rem;
}
.genders input {
  border-radius: 0.8rem;
  margin-top: 2rem;
  border: 1px solid gray;
  width: 19.5rem;
  height: 4.5rem;
  padding-left: 0.5rem;
}
.imgpre {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.previewimg {
  height: 7rem;
  height: 7rem;
}
.buutons {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  margin-top: 1rem;
}
.buutonsv1 {
  background-color: rgb(56, 225, 56);
  width: 12rem;
  height: 4rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
}
.buutonsv2 {
  background-color: rgb(100, 101, 100);
  width: 12rem;
  height: 4rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
}
